%frosted {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  @media (prefers-color-scheme: dark) {
    background: rgba(0, 0, 0, 0.75);
  }
}

.frosted {
  @extend %frosted;
}
